<!doctype html>
<html lang="en" >
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="vendor/vzbootstrap/favicon.ico">
      <title> Cameo Ruggadization  </title>
      <link rel="stylesheet" href="dist/vendor/vzbootstrap/styles/bootstrap.min.css">
      <link rel="stylesheet" href="dist/vendor/vzbootstrap/styles/vzbootstrap.min.css">
      <link rel="stylesheet" href="dist/assets/styles/vzbsangular-styles.min.css">
	   <link rel="stylesheet" href="css/addressValidation.css">    
	   <link rel="stylesheet" href="css/ng-table.css">
   </head>
   <body ng-app="vzApp" ng-controller="selectListCtrl" ng-init="submitClicked = 0">    

<uib-accordion ng-show="loading == 1">
		<div uib-accordion-group class="panel-default"  ng-repeat="group in groups" is-open="group.isFirstOpen" >
		  <uib-accordion-heading>
			{{group.title}}
			<i class="pull-right glyphicon vzbs-accordion-icon" ></i>
		  </uib-accordion-heading>
		  <div class="row padding-top-bottom">	
	<div class="col-md-12"> 
               <form class="form-horizontal">
				   			
				  <div class="form-group">
                    
                     <div class="col-md-2 col-sm-2" >
					 <label>Carrier Abbr :</label>
                        <div class="vzbs-dropdown" uib-dropdown is-open="carrieridStatus.isopen">
                           <button id="single-button" type="button" class="btn" uib-dropdown-toggle >
						   {{buttonCarrierIdLabel}} 
                           <span class="vzcaret"></span>
                           </button>
                           <br>
                             <br>
                              <select>
                                <option>Hello!</option>
            <option>allo!</option>
             <option>ailo!</option>
             <option>cello!</option>
             <option id="greet" ng-selected="selected">Greetings!</option>
                               </select>
                               
                       
                        </div>
                        
                     </div>
                     
                     --------------
 
           <select aria-label="uib-dropdown-toggle">
                  <option>Hello!</option>
            <option>allo!</option>
             <option>ailo!</option>
             <option>cello!</option>
             <option id="greet" ng-selected="selected">Greetings!</option>
              </select>
             
              
                	   ----------------------
                	   
                     <div class="col-md-2 col-sm-2" >
					<label>Neca Id :</label>
                        <div class="vzbs-dropdown" uib-dropdown is-open="necaidStatus.isopen">
                           <button id="single-button" type="button" class="btn" uib-dropdown-toggle >
						   {{buttonNecaIdLabel}} 
                           <span class="vzcaret"></span>
                           </button>
                           <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
                              <li ng-repeat="necaid in necaValues | unique" 
                                 ng-click="selectNecaId(necaid)"
                                 ng-class="{'selected' : requestjson.necaId === necaid }">{{necaid}}</li>
                           </ul>
                        </div>
                     </div>
				
                    
                     <div class="col-md-2 col-sm-2" >
					 <label>State :</label>
					 
                        <div class="vzbs-dropdown" uib-dropdown is-open="stateStatus.isopen" 	 
				  uib-tooltip="COS is required" tooltip-is-open ="submitted == 1 && requestjson.state == ''" 
					tooltip-trigger="submitted == 1" required>
				
                           <button id="single-button" type="button" class="btn" uib-dropdown-toggle >
						   {{buttonStateLabel}} 
                           <span class="vzcaret"></span>
                           </button>
                           <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
                              <li ng-repeat="state in stateValues | unique" 
                                 ng-click="selectState(state)"
                                 ng-class="{'selected' : requestjson.state === state }">{{state}}</li>
                                 
                           </ul>
                        </div>
                        
					 <td>Selected :</td><br>
      <input type="checkbox" name="ipostal"> <br>
       <input type="checkbox"name="ipostal"><br>
        <input type="checkbox"name="ipostal"><br>
	  
                     </div>					 
                  </div>
                  
	   
           
		       
                     
	<div class="col-md-1 margin-bottom">
		<button type="button" class="btn btn-default btn-sm"  ng-click="mysavefunc()">
			SUBMIT
		</button>	
	</div>
	<div class="col-md-1 margin-bottom">
		<button type="button" class="btn btn-default btn-sm" ng-click="myclear()">
			CLEAR
		</button>	
 </div>
             </form></div>
             <div class="col-md-2 col-sm-2" >
 <div class="alert alert-danger clearfix"  role="alert" ng-show="submittedError ==  '1'" >
					{{noVal}}
					
				  </div>
				  </div>
				  </div>
</uib-accordion>

<uib-accordion ng-show = "submittedSuccess ==  '1'">
		<div uib-accordion-group class="panel-default" ng-repeat="group in groups1" is-open="group.isFirstOpen" >
		  <uib-accordion-heading>
			{{group.title}}
			<i class="pull-right glyphicon vzbs-accordion-icon"></i>
		  </uib-accordion-heading> 
                     <div class="padding-top-bottom">
                        <div class="clearfix">
						<table ng-table="tableParams" class="table">
						<tr ng-repeat="user in $data">
									<td title="'NecaId'" sortable="'necaId'">{{user.necaId}}</td>        
                                    <td title="'State'"  sortable="'state'">{{user.state}}</td>									
									<td title="'Zone Id'"  sortable="'zoneId'">{{user.zoneId}}</td>
									<td title="'OCN'"  sortable="'ocn'">{{user.ocn}}</td>
									<td title="'Cap Name'" sortable="'capName'">{{user.capName}}</td>
									<td title="'MSA Indicator'" sortable="'msaInd'">{{user.msaInd}}</td>	
									<td title="'Speed'"  sortable="'speed'">{{user.speed}}</td>
									<td title="'Length Of Term'" sortable="'lengthOfTerm'">{{user.lengthOfTerm}}</td>
									<td title="'Rate Type'" sortable="'rateType'">{{user.rateType}}</td>
									<td title="'Discount Type'" sortable="'discountType'">{{user.discountType}}</td>
									<td title="'Rate'" sortable="'rate'">{{user.rate}}</td>
									<td title="'LOT Default'" sortable="'lotDefault'">{{user.lotDefault}}</td>
						</tr>
						</table>
                        </div>
                     </div>
 </uib-accordion> 

</div>
<script src="js/jquery.js"></script>
	 <script src="bower_components/angular/angular.min.js"></script>
	 <script src="js/ng-table.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.min.js"></script>      
	  	 	 <script src="js/EthernetSearch.js"></script>
	  	 	 <script src="//code.angularjs.org/snapshot/angular.min.js"></script>
   </body>
</html>