<section  id="content-area" ng-controller= "CollaborateModifySectionController"  ng-init="onInit()" >

<style>

.dropdown-menu-width {


  min-width: 100%;
   background-color:lightgrey;
}


h2{
    padding-left: 20px;
}

#tpCost, #swCost, #oCost, #tCost, #ccr , #originalBudget, #approvedBudget, #approvedFund, #afeNbr ,#demandId {
    width: 280px;
    height: 35px;
}

#secDetails, #engCmnts{
    width: 1400px;
    height: 70px;

}

.required {
	color: red;
	font-weight: bold;
	font-size: large;
}

.height-fix {
	margin-top: 0px;
}

.border-fix {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc; 
}

.vzbs-dropdown ul.dropdown-menu {
    position: absolute;
    top: 1px;
    border: medium none;
    max-height: 250px;
    overflow-y: scroll;
}

.addressContainer {
	font-size: 8px;
	font-weight: normal;
}

.scheduler-border {
	display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px !important;
    font-weight: bold !important;
    font-family: "nhg-display-bold", arial, sans-serif;
    line-height: inherit;
    color: #333 !important;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}    
</style>

<div class="alert alert-success clearfix" role="alert" ng-show="successFlag">  <span class="alert-icon"></span>   

	<p>Section Modified successfully and the Section Id is: {{responseSectionId}}</p> 

</div>     

<div class="alert alert-danger clearfix" role="alert" ng-show="errorFlag">  <span class="alert-icon"></span>   

	<p>{{errorMsg}}</p> 

</div>   
    
<article>

<div layout="row"   layout-align="space-between" layout-fill class="btn-default-light"> </div>
    <h2  align="left"  layout-align="start">Edit Section</h2> 
     
     <hr>
     <div class=" datagrid-container-horizontal">
     
    <!--  <div class="datagrid-child ">


    <div class="label-content">Demand Id <span class="required">&#42;</span></div>
      
    
    <div class="label-data" >
    
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusDemandId.isopen">
          <input type="hidden" id="demandId" name="demandId" value="{{selectedDemandId}}">  
          
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'">
                {{demandId}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}"  >
          <li><input type="text" ng-model="search" class="form-control" autofocus ng-click="$event.stopPropagation();"></li>
	   <li ng-click="$event.stopPropagation();">
            <li ng-repeat="demandId in demandIds| filter:filterSearch" 
                ng-click="selectItemDemandIdMethod(demandId)"
                ng-class="{'selected' : selectedDemandId === demandId }">{{demandId}}</li>
          </ul>
        </div>
        </div>
   
    
</div> -->
<!-- 
<div class="datagrid-child" >

                    <div class="label-content">Demand Id<span class="required">&#42;</span></div>
                    <div class="label-data">
                        <input type="text" id="demandId" ng-model="demandId" ng-disabled="transportfl ==='false'" ng-blur="total()"   />
                    </div>

    </div> -->
    
    <!-- <div class="datagrid-child" >

                    <div class="label-content">Demand Id</div>
                    <div class="label-data">
                        <input type="text" id="demandId" ng-disabled="transportfl ==='false'" ng-model="demandId"  ng-blur="total()"    />
                    </div>

    </div> -->
    
      <!-- <div class="datagrid-child" >

                    <div class="label-content">Demand Id</div>
                    <div class="label-data">
                        <input type="text" id="demandId" ng-model="demandId" ng-disabled=true ng-disabled="transportfl ==='false'" ng-blur="total()"    />
                    </div>

    </div> -->
     

<div class="datagrid-child ">


    <div class="label-content">Section Id </div>
      
    
    <div class="label-data" >
    
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusSectionId.isopen">
          <input type="hidden" id="sectionId" name="sectionId" value="{{selectedSectionId}}">  
          
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle  ng-disabled="true">
                {{sectionId}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}"  >
          <li><input type="text" ng-model="search" ng-disabled=true class="form-control"  autofocus ng-click="$event.stopPropagation();"></li>
	   <li ng-click="$event.stopPropagation();">
            <li ng-repeat="sectionId in sectionIds| filter:filterSearch" 
                ng-click="selectItemSectionIdMethod(sectionId)"
                ng-class="{'selected' : selectedSectionId === sectionId }">{{sectionId}}</li>
          </ul>
        </div>
        </div>
   
    
</div>

<div class="datagrid-child ">


    <div class="label-content">Section Status </div>
    
    
   <div class="label-data" >
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusSStatus.isopen" >
          <input type="hidden" id="sectionStatus" name="sectionStatus"  value="{{selectedSectionStatus}}" >  
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="secStatusBpfl==='false'">
                {{sectionStatus}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
            <li ng-repeat="sectionStatus in sectionStatuses" 
                ng-click="selectItemSecStatusMethod(sectionStatus)"
                ng-class="{'selected' : selectedSectionStatus === sectionStatus }">{{sectionStatus}}</li>
          </ul>
        </div>
    </div>
    
</div>

<div class="datagrid-child ">


    <div class="label-content">Demand Category </div>
    
    
   <div class="label-data" >
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusDCategory.isopen" >
          <input type="hidden" id="demandCategory" name="demandCategory"  value="{{selectedDemandCategory}}" >  
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="true">
                {{demandCategory}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
            <li ng-repeat="demandCategory in demandCategories" 
                ng-click="selectItemDemandCategoryMethod(demandCategory)"
                ng-class="{'selected' : selectedDemandCategory === demandCategory }">{{demandCategory}}</li>
          </ul>
        </div>
    </div>
    
</div>

<div class="datagrid-child ">


    <div class="label-content">Demand Status </div>
    
    
   <div class="label-data" >
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusDStatus.isopen" >
          <input type="hidden" id="demandStatus" name="demandStatus"  value="{{selectedDemandStatus}}" >  
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="true">
                {{demandStatus}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
            <li ng-repeat="demandStatus in demandStatuses" 
                ng-click="selectItemDemandStatusMethod(demandStatus)"
                ng-class="{'selected' : selectedDemandStatus === demandStatus }">{{demandStatus}}</li>
          </ul>
        </div>
    </div>
    
</div>

<div class="datagrid-child ">


    <div class="label-content">Planning Group<span class="required">&#42;</span></div>
    
    
    
    <div class="label-data" >
    
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusPlanningGrp.isopen">
          <input type="hidden" id="planningGrp" name="planningGrp" value="{{selectedPlanningGrp}}">  
          
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle  ng-disabled="transportfl ==='false'" ng-click="removeElement('planningGrps')">
                {{planningGrp}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
            <li ng-repeat="planningGrp in planningGrps" 
                ng-click="selectItemPlanningGrpMethod(planningGrp)"
                ng-class="{'selected' : selectedPlanningGrp === planningGrp }">{{planningGrp}}</li>
          </ul>
        </div>
        </div>
   
    
</div>
<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">


    <div class="label-content">MuxLevel<span class="required">&#42;</span></div>
    
    
    
    <div class="label-data" >
    
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusmuxLevel.isopen">
          <input type="hidden" id="muxLevel" name=""muxLevel"" value="{{selectedMuxLevel"}}">  
          
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle  ng-disabled="transportfl ==='false'" ng-click="removeElement('muxLeveles')">
                {{muxLevel}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
            <li ng-repeat="muxLevel in muxLeveles" 
                ng-click="selectItemMuxLevelMethod(muxLevel)"
                ng-class="{'selected' : selectedMuxLevel === muxLevel }">{{muxLevel}}</li>
          </ul>
        </div>
        </div>
   
    
</div>

</div>


     
<hr ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">


	<!-- Aligning LocA and LocZ Drop Downs -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
						<legend class="scheduler-border" align="left">Loc A</legend>
						<div class="row">							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
								    <div class="label-content">Region A:</div>								    
								      <div class="label-data" >
								        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusRegA.isopen">
								         <input type="hidden" id="regA" name="regA" value="selectedRegA">  
								          <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('regAs')">
								                {{regionA}} 
								                <span class="vzcaret"></span>
								          </button>
								          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
								            <li ng-repeat="regA in regAs" 
								                ng-click="selectRegA(regA)"
								                ng-class="{'selected' : selectedRegA === regA }">{{regA}}</li>
								          </ul>
								        </div>
								    </div>
    							</div>   
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">Country A:</div>						    
							          <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusCountryA.isopen">
							            <input type="hidden" id="countryA" name="countryA" value="selectedCountryA">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('countryAs')">
							                {{countryA}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							               <li ng-repeat="countryA in countryAs" 
							                    ng-click="selectCountryA(countryA)"
							                    ng-class="{'selected' : selectedCountryA === countryA }">{{countryA}}</li>
							            </ul>
							            </div>
							        </div>
							    </div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">State A:</div>
							    
							         <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusStateA.isopen">
							            <input type="hidden" id="stateA" name="stateA" value="selectedStateA">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('stateAs')">
							                {{stateA}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							            	<li><input type="text" ng-model="search" class="form-control" autofocus ng-click="$event.stopPropagation();"></li>
							               <li ng-repeat="stateA in stateAs| filter:filterSearch" 
							                    ng-click="selectStateA(stateA)"
							                    ng-class="{'selected' : selectedStateA === stateA }">{{stateA}}</li>
							            </ul>
							            </div>
							        </div>
    							</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								 <div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">City A:</div>						    
							      	<div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusCityA.isopen">
							            <input type="hidden" id="cityA" name="cityA" value="selectedCityA">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('cityAs')">
							                {{cityA}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							            	<li><input type="text" ng-model="search" class="form-control" autofocus ng-click="$event.stopPropagation();"></li>
							               <li ng-repeat="cityA in cityAs| filter:filterSearch" 
							                    ng-click="selectCityA(cityA)"
							                    ng-class="{'selected' : selectedCityA === cityA }">{{cityA}}</li>
							            </ul>
							            </div>
							        </div>
    							</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								 <div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">Location A <span  ng-if ="demandCategory === 'EQUIPMENT' || demandCategory === 'LINK'"    class="required">&#42;</span>
							        	<span class="index"  >(Showing {{ locARows }} out of {{ maxLocARows }})</span>
							        </div>						    
							         <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statuslocA.isopen">
							            <input type="hidden" id="locA" name="locA" value="selectedLocA">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('locAs')">
							                {{siteCodeA}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							            	<li><input type="text" ng-model="typeSearchA" class="form-control" autofocus 
							            	ng-click="$event.stopPropagation();" ng-change ="getLocAValuesByPredTyping(typeSearchA);"></li>
							               <li ng-repeat="locA in locAs" 
							                    ng-click="selectlocA(locA);selectLocAByPred(locA);"
							                    ng-class="{'selected' : selectedLocA === locA }">{{locA}}</li>
							            </ul>
							            </div>
							        </div>
    							</div>
							</div>
							
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">							 
							    <div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							    	<div class="label-content">Address A</div>
							        <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap">
								            <input type="text" class="btn" class="addressContainer" style="font-size: 10px;"  value="{{aLocAddressVal}}" title="{{aLocAddressVal}}" readonly> 
							            </div>
							        </div>
							    </div>
							</div>
						</div>
				</div>
				
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
					<legend class="scheduler-border" align="left">Loc Z</legend>
						<div class="row">
						 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						 		<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">Region Z:</div>							    
							       	<div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusRegZ.isopen">
							            <input type="hidden" id="regZ" name="regZ" value="selectedRegZ">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('regZs')">
							                {{regionZ}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							               <li ng-repeat="regZ in regZs" 
							                    ng-click="selectRegZ(regZ)"
							                    ng-class="{'selected' : selectedRegZ === regZ }">{{regZ}}</li>
							            </ul>
							            </div>
							        </div>
    							</div>
						 	</div>
						 	
						 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						 		 <div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">Country Z:</div>						    
							         <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusCountryZ.isopen">
							            <input type="hidden" id="countryZ" name="countryZ" value="selectedCountryZ">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('countryZs')">
							                {{countryZ}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							               <li ng-repeat="countryZ in countryZs" 
							                    ng-click="selectCountryZ(countryZ)"
							                    ng-class="{'selected' : selectedCountryZ === countryZ }">{{countryZ}}</li>
							            </ul>
							            </div>
							        </div>
    							</div>						 		
						 	</div>
						 </div>
						 
						 <div class="row">
						 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						 		 <div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">State Z:</div>				    
							      	<div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusStateZ.isopen">
							            <input type="hidden" id="stateZ" name="stateZ" value="selectedStateZ">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('stateZs')">
							                {{stateZ}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							            	<li><input type="text" ng-model="search" class="form-control" autofocus ng-click="$event.stopPropagation();"></li>
							               <li ng-repeat="stateZ in stateZs| filter:filterSearch" 
							                    ng-click="selectStateZ(stateZ)"
							                    ng-class="{'selected' : selectedStateZ === stateZ }">{{stateZ}}</li>
							            </ul>
							            </div>
							         </div>
    							</div>
						 	</div>
						 	
						 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						 		<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">City Z:</div>						    
							         <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusCityZ.isopen">
							            <input type="hidden" id="cityZ" name="cityZ" value="selectedCityZ">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('cityZs')">
							                {{cityZ}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							            	<li><input type="text" ng-model="search" class="form-control" autofocus ng-click="$event.stopPropagation();"></li>
							               <li ng-repeat="cityZ in cityZs| filter:filterSearch" 
							                    ng-click="selectCityZ(cityZ)"
							                    ng-class="{'selected' : selectedCityZ === cityZ }">{{cityZ}}</li>
							            </ul>
							            </div>
							        </div>
    							</div>
						 	</div>
						 </div>
						 
						  <div class="row">
						 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						 		<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							        <div class="label-content">Location Z <span  ng-if ="demandCategory === 'LINK'"    class="required">&#42;</span>
							        	<span class="index"  >(Showing {{ locZRows }} out of {{ maxLocZRows }})</span>
							        </div>
							    
							         <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statuslocZ.isopen">
							            <input type="hidden" id="locZ" name="locZ" value="selectedLocZ">  
							            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="transportfl ==='false'" ng-click="removeElement('locZs')">
							                {{siteCodeZ}} 
							                <span class="vzcaret"></span>
							            </button>
							            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
							            	<li><input type="text" ng-model="typeSearchZ" class="form-control" autofocus 
							            	ng-click="$event.stopPropagation();" ng-change ="getLocZValuesByPredTyping(typeSearchZ);"></li>
							               <li ng-repeat="locZ in locZs" 
							                    ng-click="selectlocZ(locZ);selectLocZByPred(locZ);"
							                    ng-class="{'selected' : selectedLocZ === locZ }">{{locZ}}</li>
							            </ul>
							            </div>
							        </div>
    							</div>
						 	</div>
						 	
						 	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="datagrid-child " ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
							    	<div class="label-content">Address Z</div>
							        <div class="label-data" >
							            <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap">
								            <input type="text" class="btn" class="addressContainer" style="font-size: 10px;" value="{{zLocAddressVal}}" title="{{zLocAddressVal}}" readonly> 
							            </div>
							        </div>
	    						</div>						 		
						 	</div>
						 </div>
				</div>
				
		</div>
	</div>


<hr ng-hide="demandCategory === 'EQUIPMENT' || demandCategory === 'BUNDLE'">
<div class=" datagrid-container-horizontal">

 <div class="datagrid-child" >

                    <div class="label-content">Transport Cost</div>
                    <div class="label-data">
                        <input type="text" id="tpCost" ng-model="transportCost" ng-disabled="transportfl ==='false'" ng-blur="total()"    />
                    </div>

    </div>
    
    <div class="datagrid-child" >

                    <div class="label-content">Switch Cost</div>
                    <div class="label-data">
                        <input type="text" id="swCost" ng-model="switchCost" ng-disabled="transportfl ==='false'" ng-blur="total()" />
                    </div>

    </div>
    
    <div class="datagrid-child" >

                    <div class="label-content">Other Cost</div>
                    <div class="label-data">
                        <input type="text" id="oCost" ng-model="otherCost" ng-disabled="transportfl ==='false'" ng-blur="total()" />
                    </div>

    </div>
    
    <div class="datagrid-child" >

                    <div class="label-content">Total Cost</div>
                    <div class="label-data">
                        <input type="text" id="tCost" ng-model="totalCost" ng-disabled="true" ng-disabled="transportfl ==='false'"  disabled = true/>
                    </div>

    </div>
    
    <div class="datagrid-child" >

                    <div class="label-content">CCR#</div>
                    <div class="label-data">
                        <input type="text" id="ccr" ng-model="ccr" ng-disabled="transportfl ==='false'" />
                    </div>

    </div>
    

</div>



<div class=" datagrid-container-horizontal">

    <div>

           <div class="label-content">Transport Engineer Comments</div>
           <div class="label-data">
           		<textarea id="engCmnts" ng-model="engCmnts" ng-disabled="transportfl ==='false'"></textarea>
           </div>

    </div>
</div>

<hr>


<div class=" datagrid-container-horizontal">

<div class="datagrid-child " >

<div class="label-content">Business Case <span ng-hide="Bplannerfl ==='false'" ></span></div>

  <div class="label-data" >
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusBusinessCase.isopen">
          <input type="hidden" id="businessCase" name="businessCase" value="{{selectedBusinessCase}}">  
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="screen === 'modify' || Bplannerfl ==='false'" >
                {{businessCase}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
            <li ng-repeat="businessCase in businessCases" 
                ng-click="selectItemBusinessCaseMethod(businessCase)"
                ng-class="{'selected' : selectedBusinessCase === businessCase }">{{businessCase}}</li>
          </ul>
        </div>
  </div>
    

</div>

<div class="datagrid-child ">

<div class="label-content">Budget owner <span ng-hide="Bplannerfl ==='false'" ></span></div>

  <div class="label-data" >
        <div class="vzbs-dropdown dropdown-menu-width checkBoxNoWrap" uib-dropdown is-open="statusBudgetOwner.isopen">
          <input type="hidden" id="budgetOwner" name="budgetOwner" value="{{selectedBudgetOwner}}">  
          <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="screen === 'modify' || Bplannerfl ==='false'" >
                {{budgetOwner}} 
                <span class="vzcaret"></span>
          </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" ng-class="{'adjust-block' : items.length >= 8}" >
            <li ng-repeat="budgetOwner in budgetOwners" 
                ng-click="selectItemBudgetOwnerMethod(budgetOwner)"
                ng-class="{'selected' : selectedBudgetOwner === budgetOwner }">{{budgetOwner}}</li>
          </ul>
        </div>
  </div>
    

</div>

<div class="datagrid-child" >

                    <div class="label-content">Original Budget</div>
                    <div class="label-data">
                        <input type="text" id="originalBudget" ng-disabled="Bplannerfl ==='false'"  ng-model="originalBudget" ng-blur="dollerChange();"    />
                    </div>

    </div>
    
   <div class="datagrid-child" >

                    <div class="label-content">Approved Budget</div>
                    <div class="label-data">
                        <input type="text" id="approvedBudget" ng-disabled="Bplannerfl ==='false'" ng-model="approvedBudget"  ng-blur="dollerChange();"    />
                    </div>

    </div>
    <div class="datagrid-child" >

                    <div class="label-content">Approved Fund</div>
                    <div class="label-data">
                        <input type="text" id="approvedFund" ng-disabled="Bplannerfl ==='false'"  ng-model="approvedFund"  ng-blur="dollerChange();"    />
                    </div>

    </div>
    

</div> 

<div class=" datagrid-container-horizontal">
 <div class="datagrid-child" >

                    <div class="label-content">AFE Number</div>
                    <div class="label-data">
                        <input type="text" id="afeNbr" ng-disabled="Bplannerfl ==='false'"  ng-model="afeNbr"      />
                    </div>

    </div>
    <div class="datagrid-child">

                   						<div class="label-content">Funding Flag</div>
                    					<div class="label-data">
                        					<input type="checkbox" ng-model="fundFlag"  ng-true-value="'Y'" ng-false-value="'N'">
                        
                    					</div>

    							</div>
   
</div>

<div class=" datagrid-container-horizontal">

   <div>

           <div class="label-content">Budget Planner Comments</div>
           <div class="label-data">
           		<textarea id="secDetails" ng-model="secDetails" ng-disabled="Bplannerfl ==='false'"></textarea>
           </div>

    </div>
</div>


<div class=" datagrid-container-horizontal">
<div class="row" align="left">
                <div class="padding-left margin-left margin-top-bottom">
                    <button type="button" class="btn btn-primary btn-sm"
                        ng-model="singleModel" ng-click="open();">Modify</button>

                    <button type="button" class="btn btn-default btn-sm clearButton"
                        ng-model="singleModel" ng-click="toggleScreens('searchSections')">Back</button>
</div>
</div>

<div  class="padding-bottom">
	<!-- modal trigger -->


	<!--Modal Content -->
	<script type="text/ng-template" id="myModalContent.html">
		<div class="modal-header">
			<button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true"> X</span></button>
		</div>
		
<div class="modal-body" id="modal-body" >
			<p>Are you sure you want to Edit Section with this data?
			</p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="button"  ng-click="ok()">OK</button>
  			<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
		</div>
	</script>	
</div>




</article>
</section>